
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/layout/NguoiDung.cshtml";
}


<div class="bg-faded p-4 my-4" id="GoiCombo">

    <hr class="divider">
    <h2 class="text-center text-lg text-uppercase my-0">
        Gói <strong>combo <a href="#"><span class="badge badge-danger p-1">Xem Thêm</span></a></strong>
    </h2>
    <hr class="divider">
    <div class="row">
        <div class="media col-md-4">
            <div class="card" style="width: 20rem; box-shadow: 5px 3px 5px #708090;">
                <img class="card-img-top" src="~/Content/img/ga.jpg" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-info">Đặt Combo</a>
                    <button class="btn btn-info float-right" data-toggle="modal" data-target=".bd-example-modal-lg">Xem Chi Tiết</button>

                    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Gà Luộc 1</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body pre-scrollable" style="min-height: 450px">
                                    <img src="~/Content/img/ga.jpg" class="img-thumbnail" alt="Responsive image">
                                    <p>
                                        Some quick example text to build on the card title and make up the bulk of the card's content.
                                        Some quick example text to build on the card title and make up the bulk of the card's content.
                                        Some quick example text to build on the card title and make up the bulk of the card's content.
                                        Some quick example text to build on the card title and make up the bulk of the card's content.
                                        Some quick example text to build on the card title and make up the bulk of the card's content.
                                        Some quick example text to build on the card title and make up the bulk of the card's content.
                                        Some quick example text to build on the card title and make up the bulk of the card's content.
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Xem sau</button>
                                    <button type="button" class="btn btn-primary">Đặt món</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="media col-md-4">
            <div class="card" style="width: 20rem; box-shadow: 5px 3px 5px #708090">
                <img class="card-img-top" src="~/Content/img/ga.jpg" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                    <a href="#" class="btn btn-info">Đặt Combo</a>
                    <button class="btn btn-info float-right" data-toggle="modal" data-target=".bd-example-modal-lg-2">Xem Chi Tiết</button>

                    <div class="modal fade bd-example-modal-lg-2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Gà Luộc 2</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body pre-scrollable" style="min-height: 450px">
                                    <img src="~/Content/img/ga.jpg" class="img-fluid" alt="Responsive image">
                                    <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Xem sau</button>
                                    <button type="button" class="btn btn-primary">Đặt món</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="media col-md-4">
            <div class="card" style="width: 20rem; box-shadow: 5px 3px 5px #708090;">
                <img class="card-img-top" src="~/Content/img/ga.jpg" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-info">Đặt Combo</a>

                    <button class="btn btn-info float-right" data-toggle="modal" data-target=".bd-example-modal-lg-3">Xem Chi Tiết</button>

                    <div class="modal fade bd-example-modal-lg-3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Gà Luộc 3</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body pre-scrollable" style="min-height: 450px">
                                    <img src="~/Content/img/ga.jpg" class="img-fluid" alt="Responsive image">
                                    <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Xem sau</button>
                                    <button type="button" class="btn btn-primary">Đặt món</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg-faded p-4 my-4" id="MonAn">
    <hr class="divider">
    <h2 class="text-center text-lg text-uppercase my-0">
        Món <strong>Ngon</strong> <a href="#"><span class="badge badge-danger">Xem Thêm</span></a>
    </h2>
    <hr class="divider">
    <div class="row">
        <div class="media col-md-4">
            <div class="card" style="width: 20rem; box-shadow: 5px 3px 5px #708090">
                <img class="card-img-top" src="~/Content/img/ga.jpg" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Card title </h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-info">Đặt Combo</a>
                    <button class="btn btn-info float-right" data-toggle="modal" data-target=".bd-example-modal-lg-4">Xem Chi Tiết</button>

                    <div class="modal fade bd-example-modal-lg-4" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Gà Luộc 4</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body pre-scrollable" style="min-height: 450px">
                                    <img src="~/Content/img/ga.jpg" class="img-fluid" alt="Responsive image">
                                    <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Xem sau</button>
                                    <button type="button" class="btn btn-primary">Đặt món</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="media col-md-4">
            <div class="card" style="width: 20rem; box-shadow: 5px 3px 5px #708090">
                <img class="card-img-top" src="~/Content/img/ga.jpg" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-info">Đặt Combo</a>
                    <button class="btn btn-info float-right" data-toggle="modal" data-target=".bd-example-modal-lg-5">Xem Chi Tiết</button>

                    <div class="modal fade bd-example-modal-lg-5" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Gà Luộc 5</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body pre-scrollable" style="min-height: 450px">
                                    <img src="~/Content/img/ga.jpg" class="img-fluid" alt="Responsive image">
                                    <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Xem sau</button>
                                    <button type="button" class="btn btn-primary">Đặt món</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="media col-md-4">
            <div class="card" style="width: 20rem; box-shadow: 5px 3px 5px #708090;">
                <img class="card-img-top" src="~/Content/img/ga.jpg" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Gà luộc</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                    <a href="#" class="btn btn-info">Đặt Combo</a>
                    <button class="btn btn-info float-right" data-toggle="modal" data-target=".bd-example-modal-lg-6">Xem Chi Tiết</button>

                    <div class="modal fade bd-example-modal-lg-6" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Gà Luộc 6</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body pre-scrollable" style="min-height: 450px">
                                    <img src="~/Content/img/ga.jpg" class="img-fluid" alt="Responsive image">
                                    <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Xem sau</button>
                                    <button type="button" class="btn btn-primary">Đặt món</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>