
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/layout/NguoiDung.cshtml";
}


<div class="bg-faded p-4 my-4" id="GoiCombo">

    <hr class="divider">
    <h2 class="text-center text-lg text-uppercase my-0">
        Gói <strong>combo <a href="#"><span class="badge badge-danger p-1">Xem Thêm</span></a></strong>
    </h2>
    <hr class="divider">
    <div class="row">
        @Html.Action("ComboDatNhieu","Combo")
    </div>
</div>

<div class="bg-faded p-4 my-4" id="MonAn">
    <hr class="divider">
    <h2 class="text-center text-lg text-uppercase my-0">
        Món <strong>Ngon</strong> <a href="#"><span class="badge badge-danger">Xem Thêm</span></a>
    </h2>
    <hr class="divider">
    <div class="row">
        @Html.Action("MonDuocDatNhieu", "ThucDon")
    
    </div>
</div>