@{
    ViewBag.Title = "DatTiec";
    Layout = "~/Views/layout/NguoiDung.cshtml";
}
<style>
    #GioHang {
        display: none;
    }
</style>
<div class="bg-faded p-4 my-4" id="GoiCombo">

    <hr class="divider">
    <h2 class="text-center text-lg text-uppercase my-0">
        Đặt <strong>tiệc</strong>
    </h2>
    <hr class="divider">
    <div class="form-row" style="width: auto">
        <form>
            <div class="form-group row">
                <label for="exampleFormControlSelect1" class="col-sm-6">Chọn loại tiệc:</label>
                <div class="col-sm-6">
                    <select class="form-control" id="exampleFormControlSelect1" style="width: auto">
                        <option>...</option>
                        <option>Tiệc cưới</option>
                        <option>Tiệc gia đình</option>
                        <option>Hội họp</option>
                        <option>Không có ở trên</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6">
                    <label class="form-control-label" for="formGroupExampleInput">Số người:</label>
                </div>
                <div class="col-sm-6">
                    <input type="number" min="1" class="form-control" style="width: auto" id="formGroupExampleInput" placeholder="Số người dự tiệc">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6">
                    <label class="form-control-label" for="formGroupExampleInput">Số bàn:</label>
                </div>
                <div class="col-sm-6">
                    <input type="number" min="1" class="form-control" style="width: auto" placeholder="Số bàn:">
                </div>
            </div>

            <div class="form-group row">
                <label for="exampleFormControlSelect1" class="col-sm-6">Số tiền bạn dự định chi:</label>
                <div class="col-sm-6">
                    <select class="form-control" style="width: auto">
                        <option>Nhỏ hơn 1 Triệu VND</option>
                        <option>1 Triệu - 5 Triệu VND</option>
                        <option>5 Triệu - 10 Triệu VND</option>
                        <option>10 Triệu - 20 Triệu VND</option>
                        <option>20 Triệu - 50 Triệu VND</option>
                        <option>Trên 50 Triệu VND</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="exampleFormControlSelect1" class="col-sm-6">Chọn ngày, giờ đặt tiệc:</label>
                <div class="col-sm-6">
                    <p>
                        <input type="datetime-local" id="time" style="Max-width: 90%" />
                    </p>

                </div>
            </div>
            <button type="button" class="btn btn-lg btn-danger" data-toggle="popover" title="Popover title" data-content="Chúng tôi sẽ liên hệ bàn trong thời gian nhanh nhất">Đặt Bàn</button>
        </form>
    </div>
</div>

