
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>GANEYA Nhật Bản</title>

    <!-- Bootstrap core CSS -->
   
    <link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="~/Content/css/business-casual.css" rel="stylesheet">



</head>

<body>

    <div class="tagline-upper text-center text-heading text-shadow text-white mt-5 d-none d-lg-block">Ganeya Nhật Bản</div>
    <div class="tagline-lower text-center text-expanded text-shadow text-uppercase text-white mb-5 d-none d-lg-block">5A Đào Duy Từ, Phường 4, Tp. Đà Lạt | 123.456.7890</div>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-faded py-lg-4">
        <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Ganeya Nhật Bản</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive" >
            <ul class="navbar-nav mx-auto">
                <li class="nav-item active px-lg-3">
                    <a class="nav-link text-uppercase text-expanded" href="~/TrangChu/Index"><i class="fa fa-home fa-2x" aria-hidden="true"></i></a>
                </li>
                <li class="nav-item px-lg-3">
                    <a class="nav-link text-uppercase text-expanded" href="~/GioiThieu/GioiThieu">Giới Thiệu</a>
                </li>                
                <li class="nav-item px-lg-3">
                    <a class="nav-link text-uppercase text-expanded" href="~/ThucDon/ThucDon">Thực Đơn</a>
                </li>
                <li class="nav-item px-lg-3">
                    <a class="nav-link text-uppercase text-expanded" href="~/DatTiec/DatTiec">Đặt Tiệc</a>

                </li>
                <li class="nav-item px-lg-3">
                    <a class="nav-link text-uppercase text-expanded" href="~/Combo/GoiCombo">Gói Combo <span class="badge badge-secondary">4</span></a>
                    
                </li>
                
                <li class="nav-item px-lg-3">
                    <a class="nav-link text-uppercase text-expanded" href="~/KhuyenMai/KhuyenMai">Khuyến Mãi <span class="badge badge-secondary">4</span></a>
                </li>
                <li class="nav-item px-lg-3">
                    <a class="nav-link text-uppercase text-expanded" href="~/TuyenDung/TuyenDung">Tuyển Dụng <span class="badge badge-secondary">4</span></a>
                </li>
                <li class="nav-item px-lg-3">
                    <div class="dropdown show">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-user-circle" aria-hidden="true"></i>
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" data-toggle="modal" data-target=".bd-example-modal-lg-10" href="#">Đăng Nhập</a>
                            <a class="dropdown-item" href="#">Đăng Xuất</a>
                            
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">


        <div class="row">
            <!--Đăng Nhập-->
            <div class="modal fade bd-example-modal-lg-10 float-right" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" style="width: 300px">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title ml-5">Đăng Nhập</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" style="max-width: 300px">
                            <form>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Email</label>
                                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nhập email của bạn">
                                    <small id="emailHelp" class="form-text text-muted">Chúng tôi sẽ không chia sẻ email của bạn cho bất kì a.</small>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Mật Khẩu</label>
                                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder=" Mật khẩu của bạn!!">
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input">
                                        Nhớ tài khoản
                                    </label>
                                    <p><a href="#">Đăng ký nếu bạn chưa có tài khoản.</a></p>
                                </div>
                                <button type="submit" class="btn btn-primary">Đăng Nhập</button>
                            </form>
                        </div>

                    </div>
                </div>

            </div>
            <!-- Giỏ hàng -->
            <div style="position: fixed; top: 10%; right: 10px; z-index: 2" id="GioHang">

                <img src="~/Content/img/icon_256.png" data-toggle="modal" data-target=".bd-example-modal-lg-9" style="max-width: 40px; max-height: 40px" /> <span class="badge badge-secondary">4</span>
            </div>
            <div class="modal fade bd-example-modal-lg-9" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Giỏ hàng</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body pre-scrollable">

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Xem sau</button>
                            <button type="button" class="btn btn-primary">Đặt Bàn</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <div class="bg-faded p-4 my-4">
            <!-- Image Carousel -->

            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <a href="#"><img class="d-block img-fluid w-100" src="~/Content/img/slide-1.jpg" alt=""></a>
                        <div class="carousel-caption d-none d-md-block">
                            <h3 class="text-shadow">First Slide</h3>
                            <p>This is the caption for the first slide.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <a href="#"><img class="d-block img-fluid w-100" src="~/Content/img/slide-2.jpg" alt=""></a>
                        <div class="carousel-caption d-none d-md-block">
                            <h3 class="text-shadow">Second Slide</h3>
                            <p class="text-shadow">This is the caption for the second slide.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <a href="#"><img class="d-block img-fluid w-100" src="~/Content/img/slide-3.jpg" alt=""></a>
                        <div class="carousel-caption d-none d-md-block">
                            <h3 class="text-shadow">Third Slide</h3>
                            <p class="text-shadow">This is the caption for the third slide.</p>
                        </div>
                    </div>
                </div>

                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <!-- Welcome Message -->
            <div class="text-center mt-4">
                <div class="text-heading text-muted text-lg">Welcome To</div>
                <h2 class="my-2">GANEYA Nhật Bản</h2>
                <div class="text-heading text-muted text-lg">
                    By <strong>Group 2</strong>
                </div>
            </div>
        </div>
        @RenderBody()
        <!-- Không gian nhà hàng-->
        <!--ThucDon-->


        <div>
            <div class="bg-faded p-4 my-4 ">
                <hr class="divider">
                <h2 class="text-center text-lg text-uppercase my-0">
                    Bình <strong>Luận</strong>
                </h2>
                <hr class="divider">
                <!-- /.container -->
                <div class="form-group row">
                    <label for="exampleFormControlTextarea1">Hãy cho chúng tôi biết ý kiến của bạn: </label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    <button class="btn btn-outline-secondary float-right mt-2" type="submit">Đăng bình luận</button>
                </div>
                <div>
                    <hr/>
                    <label for="exampleFormControlTextarea1"><strong>Danh sách bình luận: </strong></label>
                </div>
                <div class="media mb-3">
                    <img class="d-flex mr-3" src="~/Content/img/hinh-the-dep.jpg" alt="Generic placeholder image" style="max-width: 80px; max-height: 100px">
                    <div class="media-body">
                        <h5 class="mt-0"><strong>Nguyễn Công Anh Phú</strong></h5>
                        3 năm cực khổ, thành quả sau quá trình dùng liệu pháp tiêm hormoon nữ
                    </div>
                </div>
                <div class="media">
                    <img class="d-flex mr-3" src="~/Content/img/hinh-the-dep.jpg" alt="Generic placeholder image" style="max-width: 80px; max-height: 100px">
                    <div class="media-body">
                        <h5 class="mt-0"><strong>Tên</strong></h5>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                    </div>
                </div>
            </div>
            <div class="bg-faded p-4 my-4 ">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card mt-2" style="width: auto;">
                            <h4 class="card-header text-center text-secondary">Địa chỉ nhà hàng</h4>
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3903.5542775457907!2d108.43174131481152!3d11.936076291541085!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3171133183e34293%3A0xd50d1d446350749c!2zR2FuZXlhIFJlc3R1YXJhbnQgLSBOaMOgIEjDoG5nIE5o4bqtdCBC4bqjbg!5e0!3m2!1svi!2sin!4v1503227601502" min-width="300" min-height="200" frameborder="0" style="border: 0;"></iframe>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card mt-2" style="width: auto;">
                            <h3 class=" card-header text-center text-secondary">Thông tin liên hệ</h3>
                            <p class="card-text ml-2">
                                Địa chỉ: 5A Đào Duy Từ, Phường 4, Tp. Đà Lạt
                            </p>
                            <p class="card-text ml-2">
                                Điện thoại: 0263 354 7868- 0167 394 0628
                            </p>
                            <p class="card-text ml-2">
                                Giờ mở cửa: Ganeya Nhật Bản mở cửa 7 ngày trong tuần, buổi trưa từ 11:30AM - 2PM, buổi tối từ 5PM - 11PM.
                            </p>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <footer class="bg-faded text-center py-5">
            <div class="container">
                <p class="m-0">Copyright &copy; Thực tập nhóm 2</p>
            </div>
        </footer>

                <!-- Bootstrap core JavaScript -->
                <script src="~/Content/vendor/jquery/jquery.min.js"></script>
                <script src="~/Content/vendor/popper/popper.min.js"></script>
                <script src="~/Content/vendor/bootstrap/js/bootstrap.min.js"></script>
            
        </div>

</body>

</html>
