
@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/layout/NguoiDung.cshtml";
}

<style>
    #GioHang, #carouselExampleIndicators {
        display: none;
    }
</style>
<div id="LauTren" class="bg-faded p-4 my-4">
    <hr class="divider">
    <h2 class="text-center text-lg text-uppercase my-0">
        Lầu <strong>trên </strong>
    </h2>
    <hr class="divider">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <img class="card-img-top" src="~/Content/img/lautren1.jpg" alt=" card image cap">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <img class="card-img-top" src="~/Content/img/nhatren2.jpg" alt=" card image cap">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="LauDuoi" class="bg-faded p-4 my-4">
    <hr class="divider">
    <h2 class="text-center text-lg text-uppercase my-0">
        Lầu <strong>Dưới </strong>
    </h2>
    <hr class="divider">
    <div class="row">
        <div class="col-sm-6">
            <div class="card" style="width: auto">
                <img class="card-img-top" src="~/Content/img/lau duoi2.jpg" alt=" card image cap">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card" style="width: auto">
                <img class="card-img-top" src="~/Content/img/lauduoi1.jpg" alt=" card image cap">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="San" class="bg-faded p-4 my-4">
    <hr class="divider">
    <h2 class="text-center text-lg text-uppercase my-0">
        Sân <strong>Vườn </strong>
    </h2>
    <hr class="divider">
    <div class="row">
        <div class="card ml-5 align-items-center" style="width: 50%">
            <img class="card-img-top" src="~/Content/img/MatTien.jpg" alt=" card image cap">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
</div>
<div id="NhaBep" class="bg-faded p-4 my-4">
    <hr class="divider">
    <h2 class="text-center text-lg text-uppercase my-0">
        Nhà <strong>Bếp </strong>
    </h2>
    <hr class="divider">
    <div class="row">
        <div class="card ml-5" style="width: auto;">

            <img class="card-img-top" src="~/Content/img/nha bep.jpg" alt=" card image cap">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
</div>
